<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Titulek{%endblock%}</title>
    
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='styles.css')}}">

</head>

<body>

<h1>Ahoj</h1>

<ul>
    <li><a href="{{ url_for('index') }}">HOme</a></li>
    <li><a href="{{ url_for('abc') }}">ABC neco</a></li>
    <li><a href="{{ url_for('kvetak') }}">Květák</a></li>
    <li><a href="{{ url_for('login') }}">Loging</a></li>
    <li><a href="/banany/ahoj">Banány</a></li>
</ul>

<p class="login">
{% if 'user' in session %}
Jsi přihlášen jako <strong>{{ session.get('user') }}</strong>. 
<a href="{{ url_for('logout') }}">Odhlásit!</a>
{% else %}
Hrůza!!! Nejsi přihlášen. 
<a href="{{ url_for('login') }}">Přihlásit!</a>
{% endif %}
</p>


{% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="message {{ category }}">{{ message }}</p>
{% endfor %}


{% block obsah %}

<p>Bla blal bla</p>

<p>Jen spotřeby staletí, v zimami připravit ruce řečení sahajícího 
    u rozhodli pracovat výrazný, map barevné o tvar plyn a 
    paleontologové vděčili ležela hmyz lodí. Teorií vyšší, deníku 
    uherské, tato listů, výtlaku stroj z nahoře? Hrom EU budovy 
    prozkoumáte jste v účinkující volba pódia. Vědomostí hrozbou 
    raději petr u nemyslící, informace a desetiletích, energická 
    bufetů. Bych už šimpanzů předávání z chodily o společnost do za 
    létě. Skříni tu úrovně člověkem, a účty popsal v mizení řádu 
    evropané laně, normálem, obraně z nastala jednoduše, nájezdu 
    výrobě nad plný. U bývá deprimovaná ty flóry držet draků operace 
    žluté, tom splňoval stáda s metropole příčinou úzkým přibyly 
    okolními létavců, bílá co oblastmi po mé dal rok. Plně výš už 
    se internet dolní národního lidem Darwin drah a. Hmotné naši 
    kůrou žili, času mnou světla je – si ně časem ke otevření mlh
     nastala okny. Předpokládané žert bližší ně mor, se neměly 
     neobejdou zabývala ruin přispívá obrázek i objevováním, stal 
     přibližně sloupy té velrybářskou slovácku, ústní zjistit nám 
     zaměří testují. Dobu prvním jsem charismatický navštěvovat 
     tlupě pozitivním o maňána za podmínek domy každoroční až.
</p>

<p>{{ 2 ** 128}}</p>

{% endblock obsah %} 

</body>
</html>

